.form {
  display: flex;
  gap: 12px;
  align-items: flex-end;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  box-sizing: border-box;
  height: 42px;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.input[type='number']::-webkit-outer-spin-button,
.input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form-btn {
  box-sizing: border-box;
  height: 42px;
  padding: 10px 12px;
  border: 1px solid #000;
  border-radius: 4px;
}
